.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;
}

.info {
  display: flex;
  align-items: center;
  color: var(--info);
  font-size: 0.9rem;

  ul {
    list-style: none;
  }

  div,
  li {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    & + div,
    & + li {
      margin-left: 1.5rem;
    }
  }

  span {
    margin-left: 0.5rem;
  }
}
