.logo {
  margin: 3rem 0;
}

.post {
  & + .post {
    margin-top: 2.5rem;
  }

  a {
    color: var(--heading);
    transition: color 0.3s;
    font-weight: bold;
    font-size: 2rem;

    &:hover {
      color: var(--highlight);
    }
  }
  p {
    margin-top: 0.5rem;
    color: var(--body);
  }
}

.buttonLoadMore {
  border: none;
  background: none;
  color: var(--highlight);
  margin-top: 4.5rem;
}
