.container {
  max-width: 100vw;

  img {
    width: 100%;
  }

  .article {
    margin-top: 3rem;

    h1 {
      font-size: 2.5rem;
      color: var(--heading);
    }

    .lastModification {
      margin-top: 1rem;
      color: var(--info);
      font-size: 0.9rem;
    }
  }

  .content {
    margin-bottom: 3rem;

    .paragraph {
      h2 {
        margin: 2.5rem 0;
        color: var(--heading);
      }

      p {
        margin: 1rem 0;
        text-align: justify;
      }
    }
  }
}
